name: Build Megaton project
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: devkitpro/devkita64
      env:
        CARGO_TERM_COLOR: always
    steps:
      - id: checkout
        name: Check out repository
        uses: actions/checkout@v6
        with:
          submodules: true
      - id: build-essential
        name: Install build-essential
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential
      - id: rustup
        name: Install Rust
        run: |
          curl -fsSL --tlsv1.3 https://sh.rustup.rs | bash -s -- -vy --no-modify-path
          realpath ~/.cargo/bin >> "$GITHUB_PATH"
      - id: clone-megaton
        name: Clone Megaton
        run: git clone -b static_linking_fix --depth 1 --single-branch https://github.com/Pistonite/megaton.git
        working-directory: ${{ runner.temp }}
      - id: build-megaton
        name: Build Megaton
        run: |
          echo "MEGATON_HOME=`pwd`" >> "$GITHUB_ENV"
          cargo run -vr --bin megaton-buildtool -- install || true
          chmod +x bin/megaton
          realpath bin >> "$GITHUB_PATH"
        working-directory: ${{ runner.temp }}/megaton
      - id: megaton
        name: Install Megaton
        run: bash -c '. megaton install -V'
      - id: build
        name: Build project
        run: |
          bash -c '. megaton checkenv'
          bash -c '. megaton build -LVT'
        working-directory: backend
      - id: package
        name: Package artifact
        run: |
          mkdir "${{ runner.temp }}"/out
          cp *.nso "${{ runner.temp }}"/out/subsdk9
          cp main.npdm "${{ runner.temp }}"/out
        working-directory: backend/target/megaton/none
      - id: upload
        name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: all-trees-tracker
          path: ${{ runner.temp }}/out
