name: Build SvelteKit app
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build:
    env:
      CI: true
      DO_NOT_TRACK: 1
      CARGO_TERM_COLOR: always
    runs-on: ubuntu-latest
    steps:
      - id: checkout
        name: Check out repository
        uses: actions/checkout@v6
      - id: bun
        name: Install Bun
        uses: oven-sh/setup-bun@v2
      - id: dependencies
        name: Install app dependencies
        run: |
          bun i --frozen-lockfile
          bun i -g turbo
        working-directory: frontend
      - id: build
        name: Build app for web
        run: turbo --ui stream build
        working-directory: frontend
      - id: upload
        name: Upload web artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-web
          path: ${{ github.workspace }}/frontend/build
